<ion-row>
  <ion-col col-12 footer class="abbreviations">
    <div *ngIf="footerParams.data.payload !== undefined && footerParams.data.pageType === 'ACCOUNT_PAGE'">
      <p *ngIf="footerParams.data.payload.parentAcctType === 'IRA' || footerParams.data.payload.parentAcctType === 'CERTIFICATE'" class="notes">APY = Annual Percentage Yield</p>
      <p *ngIf="footerParams.data.payload.parentAcctType === 'IRA' || footerParams.data.payload.parentAcctType === 'CERTIFICATE'" class="notes">APR = Annual Percentage Rate</p>
    </div>
  </ion-col>
  <ion-col col-12 footer class="legal"> 
    <p class="insured" (click)='displayNCUACert()'>Federally insured by NCUA</p>
  </ion-col>
</ion-row>