account-header {
  .pageHeader {
    background-color: $pf-mobile-dark;
    color: white !important;
    font-size: 150%;
    font-weight: bold;
    height: 40px;
    align-items: center;
    min-height: 46px;
    // padding: 11px 16px;
    .ion-ios-arrow-back {
      // padding: 3px 0px 0px 0px;
      // width: 100%;
    }
    .ion-md-menu, .ion-ios-mail{
      font-size: 2.4rem;
    }
    .ion-ios-mail{

    }
    .button{
      background-color: transparent;
      height: 3.3rem;
    }
  }
  .backButton {
    background-color: transparent;
    .icon{
      font-size: 2.4rem;
      font-weight: 500;
      color: #FFFFFF;
      line-height: 2.3rem;
    }
  }
  .accountName{
    top:-1px;
    span{
      &:first-child{
        font-family: "monserrat600", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        width: initial;
        max-width: 68%;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        display: inline-block;
        white-space:nowrap;
        margin-right:2%; 
        padding-left: 24px;
      }
      &:last-child{
        font-family: "monserratRegular", sans-serif;
        font-size: 13px;
        position: relative;
        top: 1px;
        width:30%;
        float: left;
        display: inline-block;
      }
    }
  }
  .accountIcon{
    position: absolute;
    right: 34px;
    top: 47px;
    z-index: 10;
    .icon{
      font-size: 22px;
      padding:17px;
    }
  }
  .pageTitle{
    height:48px;
    background: linear-gradient(180deg, #0F2D52 0%, #2AA1E1 100%);
    color: $pf-mobile-white;
    border-top: 1px solid $pf-mobile-light-blue;
    font-weight: 600;
    font-size:16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    &.account{
      height:91px;
    }
    &.credit-card{
      height:130px;
      transition: height .25s;
      &.active {
        height:250px
      }
    }
    .ion-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      letter-spacing: 2px;
      position: relative;
      z-index: 2;
      top:10px;
      transition: top .25s;
      // @media(min-width: 600px) and (max-width: 800px) {
      //   top:35px;
      // }
      // @media(min-width: 801px) and (max-width: 1100px) {
      //   top:60px;
      // }
    }
    &.credit-card.active .ion-title{
      top:30%;
    }
    // @media(min-width: 600px) and (max-width: 800px) {
    //   &.credit-card.active .ion-title{
    //     top:145px;
    //   }
    // }
    // @media(min-width: 801px) and (max-width: 1100px) {
    //   &.credit-card.active .ion-title{
    //     top:190px;
    //   }
    // }
    &.staticPageTitle ,.ion-title{
      position: relative;
      top: initial;
    }  
  }
  .pf-logo-white{
    display: block;
    &:hover{
        opacity:1;
    }
  }
  .availableBal{
    font-family: "monserrat300", sans-serif;
    font-size: 15px;
    text-transform: capitalize;
  }
  .balance{
    font-size:32px;
    &:before{
      content:"$";
        font-size: 14px;
        top:-10px;
        position: relative;
        padding-right: 2px;
    }
    span{
      float: right;
    }
    .icon{
      font-size: 22px;
      position: relative;
      top: -9px;
      right: 16px;
      padding:17px 0px;
      color:$pf-mobile-white;
    }
  }
  .credit-card .balance .icon{
    position: absolute;
    top:68px;
  }
  .accountActions{
    background: $pf-mobile-light-grey;
  }
  .manageCard{
    font-family: "monserrat500", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color:$pf-mobile-dark;
    margin:17px 0;
    letter-spacing: .75px;
    .icon{
      font-size: 26px;
      position: relative;
      top:4px;
    }
  }
}
.ios {
  account-header .pageHeader{
    min-height: 64px;
    .button-ios{
      height: 100%;
    }
  }
}
.accountDetails{
  background: $pf-mobile-light-grey;
  color:$pf-mobile-dark-grey;
  max-height: 0px;
  overflow: hidden;
  transition: .25s ease-in-out;
  @media(min-width: 600px) and (max-width: 1100px) {
    max-width: 600px;
    margin: 0 auto;
  }
    .balance:before{
    top:-3px;
    font-size: 12px;
  }
  &.showAccountDetails{
    max-height: 1000px;
    transform: translateY(0px);
  }
  &.showAccountDetails.creditCardDetails {
    background: $pf-mobile-white;
  }
  &.loanDetails, &.mortgageDetails, &.iraDetails, &.certificateDetails{
    height: 100%;
    max-height: 100%;
    background: $pf-mobile-white;
  }
  > ion-col{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  ul{
    margin: 0px;
    padding: 0 11px;
    list-style: none;
  }
  li {
    display: block;
    clear: both;
    border-bottom: 1px solid $pf-mobile-line-break-light;
    padding: 13px 0 8px;
    span {
      display: inline-block;
      font-size: 16px;
      &:first-child {  
        width:47%;
        font-family: "monserrat300", sans-serif;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &:last-child {
        width:53%;
        text-align: right;
        float: right;
        font-family: "monserratRegular", sans-serif;
      }
      &.loading-crescent{ 
        position: relative;
        top: -5px
      }
    }
  }
  &.mortgageDetails .loading-crescent{
    width: 31px;
  }
}
.platform-tablet{
  account-header {
    .pageTitle.credit-card.active .ion-title{
      top:36%;
    }
    .accountIcon{
      right: 23%;
    }
  }
}