<ion-grid>
  <ion-row *ngIf="actionsParams.payload.parentAcctType === 'CHECKING_SAVING'">
    <ion-col col-4 text-center>
      <div class="buttonWrap">
        <button>
          <p class="transfer">Transfer Funds</p>
        </button>
      </div>
    </ion-col>
    <ion-col col-4 text-center>
      <div class="buttonWrap">
        <button>
          <p class="mobile-deposit">Deposit</p>
        </button>
      </div>
    </ion-col>
    <ion-col col-4 text-center>
      <div class="buttonWrap">
        <button>
          <p class="payment" (click)="goToPayments()">Make Payment</p>
        </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="accountsText">
      <p>Balances may reflect transactions that have not yet posted to your account.</p>
    </ion-col>
  </ion-row>
  <ng-container *ngIf="actionsParams.payload.parentAcctType === 'CREDITCARD'; else elseBlock">
    <ion-row>
      <ion-col col-12>
        <div text-center >
          <button *ngIf="actionsParams.payload.cardActivated" ion-button class="buttonCTA" text-center (click)="goToPayments()">MAKE PAYMENT</button>
          <button *ngIf="!actionsParams.payload.cardActivated " ion-button class="buttonCTA" text-center (click)="gotToActivateCard()">ACTIVATE CARD</button>
        </div>
      </ion-col>
    </ion-row>
    <ng-template #elseBlock>
      <ion-row *ngIf="actionsParams.payload.parentAcctType !== 'CERTIFICATE' && actionsParams.payload.parentAcctType !==  'CHECKING_SAVING' && actionsParams.payload.parentAcctType !==  'IRA'">
        <ion-col col-12>
          <div text-center >
            <button ion-button class="buttonCTA" text-center (click)="goToPayments()">MAKE PAYMENT</button>
          </div>
        </ion-col>
      </ion-row>
    </ng-template>  
  </ng-container>
</ion-grid>