<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row class="settings-header">
    <ion-col col-2>
      <button ion-button menuToggle>
          <ion-icon *ngIf="this.show" ios="ios-close" md="ios-close" class="header-icon"></ion-icon>
          <ion-icon *ngIf="!this.show" name="menu" class="header-icon" ></ion-icon>
        </button>
    </ion-col>
    <ion-col col-8>
      <ion-title>SETTINGS</ion-title>
    </ion-col>
    <ion-col col-2>
      <button ion-button>
        <ion-icon ios="ios-mail" md="ios-mail" class="header-icon" icon-right></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <div>
      <ion-item-divider class="dividerHeading">
        <div class="headingTitle">Security</div>
      </ion-item-divider>
      <ion-item class="list-item">
        <ion-label class="item-name">Stay Logged In
          <ion-icon ios="ios-help" md="ios-help" class="help-icon" (click)="helpPopUp()"></ion-icon>
        </ion-label>
        <ion-toggle class="toggle-md" [(ngModel)]="stayLoggedIn" (ionChange)="toggleStayLoggedIn($event)"></ion-toggle>
      </ion-item>
      <ion-item class="list-item">
        <ion-label class="item-name">Touch ID
        </ion-label>
        <ion-toggle class="toggle-md" [(ngModel)]="enableTouchID"></ion-toggle>
      </ion-item>
      <button ion-item class="list-item">
        <div class="item-group">
          <div class="item-name">Pattern Login</div>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
    </div>
    <div>
      <ion-item-divider class="dividerHeading">
        <div class="headingTitle">Accounts</div>
      </ion-item-divider>
    <button ion-item class="list-item" (click)="goToAccountShowhide()">
        <div class="item-group">
          <div class="item-name">Account Show/Hide</div>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
      <button ion-item class="list-item" (click)="goToAccountNickname()">
        <div class="item-group">
          <div class="item-name">Account Nicknames</div>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
      <button ion-item class="list-item">
        <div class="item-group">
          <div class="item-name">Manage Your Cards</div>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
    </div>
     <div>
      <ion-item-divider class="dividerHeading">
        <div class="headingTitle">Member Profile</div>
      </ion-item-divider>
      <button ion-item class="list-item" (click)="goToContactInfoPage()">
        <div class="item-group">
          <div class="item-name">Contact Information</div>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
      <button ion-item class="list-item" (click)="goToChangePasswordPage()">
        <div class="item-group">
          <div class="item-name">Change Your Password</div>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
      </button>
      <ion-item class="list-item">
        <ion-label class="item-name">Notifications
          <ion-icon ios="ios-help" md="ios-help" class="help-icon" (click)="notificationPopUp()"></ion-icon>
          <ion-icon text-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </ion-label>

      </ion-item>
    </div>

    <ion-item-divider class="dividerHeading">
      <div class="headingTitle">Version</div>
    </ion-item-divider>
    <ion-item class="list-item">
        <div class="item-group">
          <div class="item-name">2.7 Build 6181</div>
        </div>
      </ion-item>
  </ion-list>

</ion-content>
