<!--
  Generated template for the CreateNewpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row class="unlocked-header">
    <ion-col col-1>
      <button (click)="popView()" class="backButton">
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-11>
      <ion-title>ACCOUNT UNLOCKED</ion-title>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>

    <div class="instruction-title">
      CREATE NEW PASSWORD
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col class="col-content">
            <ion-list class="password-list" no-lines>
              <ion-item no-padding class="password-item">
                <ion-label for="newpassword" color="main-text-color" stacked>NEW PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" formControlName="newpassword" name="newpassword" [formGroup]="changePasswordForm" clearInput="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('required') && changePasswordForm.get('repeatpassword').dirty">
          Please input your new password
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('minlength')">
          New password should be at least 6 length
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('maxlength')">
          New password should be not more than 16 length
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('pattern')">
          At least one number must be used
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('whiteSpace')">
          No spaces allow
        </div>
      </div>
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col class="col-content">
            <ion-list class="password-list" no-lines>
              <ion-item no-padding class="password-item">
                <ion-label for="repeatpassword" color="main-text-color" stacked>CONFIRM PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" formControlName="repeatpassword" name="repeatpassword" [formGroup]="changePasswordForm" (blur)="onBlurMethod()" clearInput="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="password-match" *ngIf="display">Password doesn't match, please re-enter again</div>
      </div>

      <div class="password-validate">
        <div>The password must adhere to PenFed's password guidelines as follows:</div>
        <div>Between 6 and 16 characters long</div>
        <div>No spaces</div>
        <div>At least 1 number must be used</div>
        <div>Password is a case-sensitive</div>
      </div>
    </form>
    <div class="control-button">
      <button ion-button class="continue" color="main-text-color" [disabled]="changePasswordForm.invalid || buttonValidate">CONTINUE</button>
    </div>
  </ion-grid>
</ion-content>
