// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  newpassword-button-green:#558b2F,
  main-text-color:#0F2D52,
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
$pf-mobile-dark:#0F2D52;
$pf-mobile-white:#ffffff;
$pf-mobile-light-blue:#2BA1E1;
$pf-mobile-light-blue-alt:#00A1DF;
$pf-mobile-light-blue-alt-two:#0095d2;
$pf-mobile-mid-grey:#59606E;
$pf-mobile-light-grey:#F4F4F4;
$pf-mobile-line-break:#002856;
$pf-mobile-dark-grey:#282828;
$pf-mobile-line-break-light:#E5E4E4;
$pf-mobile-legal-blue:#103D65;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$header-color:#0F2D52;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face{
  font-family:"monserrat300";
  src: url($font-path+"/Montserrat/Montserrat-Light.ttf")
}
@font-face{
  font-family:"monserrat500";
  src: url($font-path+"/Montserrat/Montserrat-Medium.ttf")
}
@font-face{
  font-family:"monserrat600";
  src: url($font-path+"/Montserrat/Montserrat-SemiBold.ttf")
}
@font-face{
  font-family:"monserratRegular";
  src: url($font-path+"/Montserrat/Montserrat-Regular.ttf")
}
