<!--
  Generated template for the UpdateMailingAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-grid no-padding>
    <ion-row class="sub-page-header">
      <ion-col col-1>
        <button (click)="popView()" class="backButton">
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-11>
        <ion-title class="sub-page-header-title" text-left>UPDATE MAILING ADDRESS</ion-title>
      </ion-col>
    </ion-row>

    <form (ngSubmit)="submitUpdateMailingAddress()" *ngIf="mailingAddress" [formGroup]="mailingForm"> 
      <!-- submitUpdateMailingAddress(mailingForm.value) -->
      <div formGroupName="mailingAddressForm">
        <ion-row>
          <ion-col>
            <ion-label>Address Line 1</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input type="text" name="mailingAddress1" [attr.maxlength]="26" maxlength="26" [(ngModel)]="mailingAddress.mailingAddress1" formControlName="mailingAddress1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Address Line 2</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input type="text" name="mailingAddress2" [attr.maxlength]="26" maxlength="26" [(ngModel)]="mailingAddress.mailingAddress2" formControlName="mailingAddress2"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>City</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input type="text" name="mailingCity" [attr.maxlength]="26" maxlength="26" [(ngModel)]="mailingAddress.mailingCity" formControlName="mailingCity"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <ion-label>state/territory</ion-label>
              <ion-select [disabled]='stateDisabled' [selectOptions]="selectStateOptions" name="mailingState" [(ngModel)]="mailingAddress.mailingState" class="mailingFormitem update-mailing-address-state-field" formControlName="mailingState">
              <ion-option *ngFor="let state of states" [value]="state.id">{{state.value}}</ion-option>
              <!-- <ion-select disabled={{stateDisabled}} [selectOptions]="selectStateOptions" name="mailingState" [(ngModel)]="mailingAddress.mailingState" formControlName="mailingState" class="mailingFormitem update-mailing-address-state-field"> -->
              <!-- <ion-option *ngFor="let state of states" [value]="state.code">{{state.name}}</ion-option> *ngIf=!stateDisabled -->
            </ion-select>
          </ion-col>
          <ion-col col-4>
            <ion-label>zip code</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input [disabled]='stateDisabled' type="text" name="mailingZip" [attr.maxlength]="9" maxlength="9" [(ngModel)]="mailingAddress.mailingZip" formControlName="mailingZip"></ion-input>
              <!--  *ngIf=!stateDisabled -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>country</ion-label>
              <ion-select name="mailingCountry" [selectOptions]="selectCountryOptions" [(ngModel)]="mailingAddress.mailingCountry" class="mailingFormitem" formControlName="mailingCountry" (ionChange)="changeCountry(mailingAddress.mailingCountry)">
              <!-- <ion-option *ngFor="let country of countries" [value]="country.code" [title]="country.code">{{country.name}}</ion-option> [title]="country.id.trim()"-->
              <ion-option *ngFor="let country of countries" [value]="country.id.trim()">{{country.value}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </div>

      <ion-row padding-vertical>
        <ion-col col-9>
          <span class="POBox">This address is a P.O Box</span>
        </ion-col>
        <ion-col col-3>
          <ion-toggle name="POBox" (ionChange)="notify($event)" class="button-inner" [checked]="isToggled" float-end></ion-toggle>
        </ion-col>
      </ion-row>

      <!-- POBOX form -->
      <div formGroupName="physicalAddressForm" *ngIf="isToggled">
        <h6 class="_title">physical address</h6>
        <ion-row>
          <ion-col>
            <ion-label>Address Line 1</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input type="text" name="physicalAddress1" [attr.maxlength]="26" maxlength="26" [(ngModel)]="mailingAddress.physicalAddress1" formControlName="physicalAddress1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Address Line 2</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input type="text" name="physicalAddress2" [attr.maxlength]="26" maxlength="26" [(ngModel)]="mailingAddress.physicalAddress2" formControlName="physicalAddress2"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>City</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input type="text" name="physicalCity" [attr.maxlength]="26" maxlength="26" [(ngModel)]="mailingAddress.physicalCity" formControlName="physicalCity"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <ion-label>state/territory</ion-label>
              <ion-select [disabled]='physicalStateDisabled' name="physicalState" [(ngModel)]="mailingAddress.physicalState" class="mailingFormitem update-mailing-address-state-field" formControlName="physicalState">
              <ion-option *ngFor="let state of states" [value]="state.id">{{state.value}}</ion-option>
              <!--  <ion-option *ngFor="let state of states" [value]="state.name">{{state.name}}</ion-option>  -->
            </ion-select>
          </ion-col>
          <ion-col col-4>
            <ion-label>zip code</ion-label>
            <ion-item class="mailingFormitem">
              <ion-input [disabled]='physicalStateDisabled' type="text" name="physicalZip" [attr.maxlength]="9" maxlength="9" [(ngModel)]="mailingAddress.physicalZip" formControlName="physicalZip"></ion-input>
              <!--  -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>country</ion-label>
            <ion-select name="physicalCountry" [(ngModel)]="mailingAddress.physicalCountry" class="mailingFormitem" formControlName="physicalCountry" (ionChange)="changePhysicalCountry(mailingAddress.physicalCountry)">
              <ion-option *ngFor="let country of countries" [value]="country.id.trim()">{{country.value}}</ion-option>
              <!-- <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option> -->
            </ion-select>
          </ion-col>
        </ion-row>
      </div>
      <div class="submitBtn">
        <button *ngIf="!isToggled" [disabled]="mailingForm.controls.mailingAddressForm.status === 'INVALID'" ion-button type="submit">UPDATE ADDRESS</button>
        <button *ngIf="isToggled" [disabled]="mailingForm.controls.mailingAddressForm.status === 'INVALID' || mailingForm.controls.physicalAddressForm.status === 'INVALID'" ion-button type="submit">UPDATE ADDRESS</button>
      </div>
    </form>
  </ion-grid>
</ion-content>
