<!--
  Generated template for the LoginPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  @Author: Ramesh Mavuluri
-->
<ion-header class="login-header">
  <ion-navbar class="login-toolbar">
    <ion-title><img class="title" src="assets/img/PenFedLogo.svg"/></ion-title>
  </ion-navbar>
  <ion-label *ngIf="!networkConnection" class="networkBanner">{{connectionType}}</ion-label>
</ion-header>

<ion-content class="login-page {{backgroundImg}} flex-container" hide-back-button="true" padding>
  <ion-grid class="noPadding full-height" no-padding>
    <ion-row>
      <ion-col class="greetString">
        <span *ngIf="!welcomeMemberFlag">{{greetString}}{{greetingexcla}}</span><span *ngIf="welcomeMemberFlag">{{greetString}}{{greetingcomma}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="greetString">
        <span *ngIf="welcomeMemberFlag">{{userFirstName}}{{greetingexcla}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="welcome-to-pen-fed">
        {{welcomeString}}
      </ion-col>
    </ion-row>
    <ion-row class="gap-top">
    </ion-row>
    <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="login(loginForm)">
      <ion-row>
        <ion-col>
          <ion-list no-lines>
            <ion-item class="member-item">
              <ion-input type="text" placeholder="Username"  [readonly]="isReadOnly() && readonly" formControlName="userName" name="userName" [(ngModel)]="userName" minlength="5" maxlength="16" required></ion-input>
              <ion-icon ios="ios-person" md="md-person" item-left></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list no-lines>
            <ion-item class="pwd-item" [hidden]="!showLoginForm">
              <ion-input type={{type}} placeholder="Password" formControlName="password" name="password" minlength="6" maxlength="16" (ngModel)="password" required></ion-input>
              <ion-icon name="lock" item-left></ion-icon>
              <ion-icon name="show" item-right><img *ngIf="!checkStatus &&  loginForm.controls.password.touched && loginForm.controls.password.dirty && loginForm.controls.password.value" (click)="showPassword()" src="assets/SHOW.png"/></ion-icon>
              <ion-icon name="hide" item-right><img *ngIf="checkStatus" (click)="showPassword()" src="assets/HIDE.png"/></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <span class="save-username">Save <br>Username</span>
        <ion-toggle name="saveUserName" formControlName="saveUserName" class="toggle-md" [(ngModel)]="saveUserName"></ion-toggle>
        <span class="enable-touch-id">Enable <br>Touch ID</span>
        <ion-toggle name="enableTouchId" formControlName="enableTouchId" class="toggle-md" checked="enableTouchId"></ion-toggle>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="!showLoginForm">
          <button ion-button block class="submit-btn" [disabled]="!loginForm.controls.userName.valid" (click)="beforeLogin(loginForm)">CONTINUE</button>
        </ion-col>
        <ion-col *ngIf="showLoginForm">
          <button ion-button block class="submit-btn" [disabled]="!loginForm.controls.password.valid" >LOG IN</button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="gap-top" *ngIf="welcomeMemberFlag || userTouchedFlag">
      <ion-col><span class="login-as-different-u" (click)="differentUserLogin()">Log In As a Different User</span></ion-col>
    </ion-row>
    <ion-row class="gap-top">
      <ion-col><span class="need-help-logging-in" (click)="helpLoggingIn()">Need Help Logging In?</span></ion-col>
    </ion-row>

    <ion-row class="login-footer">
      <ion-col class="login-footer-link" (click)="contactPenFed()"><span class="rectangleUnderLink">CONTACT US</span> </ion-col>
      <ion-col class="login-footer-linkproducts" (click)="productInformation()"><span class="rectangleUnderLink">PRODUCTS</span></ion-col>
      <ion-col class="login-footer-linklocations" (click)="locationsInformation()"><span class="rectangleUnderLink">LOCATIONS</span></ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="bottom">
    <ion-col> <a class="terms-conditions-a bottom" (click)="gotoTermsAndConditions()">Terms and conditions and privacy policy</a></ion-col>
  </ion-row>
</ion-content>
