<!--
  Generated template for the UpdatePhoneNumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row class="phone-header">
      <ion-col col-1>
        <button (click)="popView()" class="backButton">
          <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-11>
        <ion-title id="contact-information-title" text-left>UPDATE PHONE NUMBERS</ion-title>
      </ion-col>
    </ion-row>
    <form #signupForm="ngForm" [formGroup]="user">
      <ion-row class="label-row">
        <ion-col>
          <ion-list no-lines class="phone-number-list">
            <ion-item no-padding class="phoneNumber-item">
              <ion-label color="main-text-color" stacked>DAYTIME PHONE NUMBER</ion-label>
              <ion-input type="text" [(ngModel)]="dayTimeNum" formControlName = "daynumber" #mobileNumber name="daynumber" clearInput="true" (keyup)="numberKeyed($event.target.value,mobileNumber)"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <div class="phonenumber-match" *ngIf="user.get('daynumber').hasError('required') && user.get('daynumber').dirty">
        Please at least input your daytimenumber
      </div>
      <div class="phonenumber-match" *ngIf="user.get('daynumber').hasError('minlength') && user.get('daynumber').dirty">
        The daytime number should be between 10 - 16 length
      </div>
      <ion-row class="label-row">
        <ion-col>
          <ion-list no-lines class="phone-number-list">
            <ion-item no-padding class="phoneNumber-item">
              <ion-label color="main-text-color" stacked>EVENING PHONE NUMBER</ion-label>
              <ion-input type="text" [(ngModel)]="eveningNum" name="eveningnumber" formControlName = "eveningnumber" clearInput="true" #mobileNumber1 (keyup)="numberKeyed($event.target.value,mobileNumber1)"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <div class="phonenumber-match" *ngIf="user.get('eveningnumber').hasError('minlength') && user.get('eveningnumber').dirty">
        The evening number should be between 10 - 16 length
      </div>
      <ion-row class="label-row">
        <ion-col>
          <ion-list no-lines class="phone-number-list">
            <ion-item no-padding class="phoneNumber-item">
              <ion-label color="main-text-color" stacked>CELL PHONE NUMBER</ion-label>
              <ion-input type="text" [(ngModel)]="cellNum" name="cellnumber" formControlName = "cellnumber" clearInput="true" #mobileNumber2 (keyup)="numberKeyed($event.target.value,mobileNumber2)"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <div class="phonenumber-match" *ngIf="user.get('cellnumber').hasError('minlength') && user.get('cellnumber').dirty">
        The cell number should be between 10 - 16 length
      </div>
      <ion-row class="phone-number-update-button">
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <div>
            <button class="update-button" color="main-text-color" type="submit" ion-button block (click)="goContactInfoPage()" [disabled]="!user.get('daynumber').valid || !user.get('eveningnumber').valid || !user.get('cellnumber').valid">UPDATE PHONE NUMBERS</button>
          </div>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
