
<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row class="phone-header">
      <ion-col col-1>
        <button (click)="popView()" class="backButton">
          <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-11>
        <ion-title text-left id="change-password-title">CHANGE PASSWORD</ion-title>
      </ion-col>
    </ion-row>


    <div class="password-validate">
      <div>The password must adhere to PenFed's password guidelines as follows:</div>
      <div>Between 6 and 16 characters long</div>
      <div>No spaces</div>
      <div>At least 1 number must be used</div>
      <div>Password is a case-sensitive</div>
    </div>


    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col>
            <ion-list class="password-item" no-lines>
              <ion-item no-padding class="pwdNumber-item">
                <ion-label color="main-text-color" stacked>CURRENT PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" [(ngModel)]= "currentPassword" formControlName="currentpassword" [formGroup]="changePasswordForm" clearInput="true" ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col>
            <ion-list class="password-item" no-lines>
              <ion-item no-padding class="pwdNumber-item">
                <ion-label for="newpassword" color="main-text-color" stacked>NEW PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" [(ngModel)]= "newPassword" formControlName="newpassword" name="newpassword" [formGroup]="changePasswordForm" [disabled]="!changePasswordForm.get('currentpassword').valid" clearInput="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('required') && changePasswordForm.get('repeatpassword').dirty">
          Please input your new password
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('minlength')">
          New password should be at least 6 length
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('maxlength')">
          New password should be not more than 16 length
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('pattern')">
          At least one number must be used
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('whiteSpace')">
          No spaces allow
        </div>
      </div>
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col>
            <ion-list class="password-item" no-lines>
              <ion-item no-padding class="pwdNumber-item">
                <ion-label for="repeatpassword" color="main-text-color" stacked>CONFIRM PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" [(ngModel)]= "confirmPassword" formControlName="repeatpassword" name="repeatpassword" [formGroup]="changePasswordForm" [disabled]="!changePasswordForm.get('currentpassword').valid" (ionBlur)="onBlurMethod()" clearInput="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="password-match" *ngIf="display">Password doesn't match, please re-enter again</div>
      </div>
    </form>
    <ion-row class="password-update-button">
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <div>
          <button class="update-button" color="main-text-color" ion-button block type="submit" [disabled]="changePasswordForm.invalid || buttonValidate" (click)="onSubmit()">CHANGE PASSWORD</button>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
