<ion-list>
  <div *ngIf="accountDetails.parentAcctType === 'MORTGAGE'">
    <ion-item-divider class="dividerHeading"> 
      <div class="headingTitle">Tax Information</div>
       <div class="dividerHeadingToggle" float-right>
         <ion-icon *ngIf="dividerHeadingToggle" ios="ios-remove-circle" md="ios-remove-circle" (click)="dividerHeadingToggle = !dividerHeadingToggle"></ion-icon>
         <ion-icon *ngIf="!dividerHeadingToggle" ios="ios-add-circle" md="ios-add-circle" (click)="dividerHeadingToggle = !dividerHeadingToggle"></ion-icon>
         </div> 
    </ion-item-divider>
    <ion-row *ngIf="!dividerHeadingToggle" class="taxInstructions">
      <ion-col col-12>
        View tax information
      </ion-col>
    </ion-row>
    <ion-row class="accountDetails taxInformation" >  
      <ion-col col-12 *ngIf="dividerHeadingToggle"> 
        <ul *ngIf="loading">
          <li>
            <div class="loading-crescent"><img src="assets/load-crescent.svg" alt="Loading..."/></div>
          </li>
        </ul>
        <ul *ngIf="!loading">
          <div>
            <li class="recentTransaction" *ngIf="transactionsResponse.taxInterestPaid"><span>Net Interest Paid</span><span>{{transactionsResponse.taxInterestPaid | formatPrice}}</span></li>
            <li class="recentTransaction" *ngIf="transactionsResponse.taxRealEstatePaid"><span>Real Estate Taxes Paid</span><span>{{transactionsResponse.taxRealEstatePaid | formatPrice}}</span></li>
            <li class="recentTransaction"><span>Hazard Insurance Paid</span><span>{{(transactionsResponse.taxHazardInsPaid !== null ? transactionsResponse.taxHazardInsPaid : 0) | formatPrice}}</span></li>
            <li class="recentTransaction"><span>PMI Paid</span><span>{{(transactionsResponse.taxPmiPaid !== null ? transactionsResponse.taxPmiPaid : 0) | formatPrice}}</span></li>
          
          </div>
        </ul>
      </ion-col>
    </ion-row>
  </div>
  
  <ion-item-divider class="dividerHeading"> 
    <div class="headingTitle">Recent Transactions</div>
    <div class="asOfDate" float-right><span>As of</span> {{accountDetails.asOfDate || "...Loading"}}</div>
  </ion-item-divider>
  <div *ngIf="loading">
    <ion-item>
      <div class="loading-crescent"><img src="assets/load-crescent.svg" alt="Loading..."/></div>
    </ion-item>
  </div>
  <div *ngIf="!loading">
    <ion-item *ngIf="recentTransactions.length===0">
      <div>
        <p>You have no transaction for this period.</p>
      </div>
    </ion-item>
    <ng-container *ngIf="recentTransactions.length">
      <ion-item *ngFor="let transaction of recentTransactions">
        <!--Note: If a check, based on if checkImage, use button UI component. -->
        <div *ngIf="transaction.checkImage">
          <button ion-item (click)='displayCheck(transaction)'>
            <div class="recentDate"><span>{{transaction.transactionDate}}</span><span *ngIf="transaction.pending">PENDING</span></div>
            <div class="recentTransaction">
              <span class="checkLabel">{{transaction.displayName}} {{transaction.checkNumber}}</span>
              <span [ngClass]="{'creditTransaction':!transaction.debit}">{{transaction.amount | formatPrice | isDebit: transaction.debit}}</span>
            </div>
          </button>
        </div>
        <!--End Note  -->
        <div *ngIf="!transaction.checkImage">
          <div class="recentDate"><span>{{transaction.transactionDate}}</span><span *ngIf="transaction.pending">PENDING</span></div>
          <div class="recentTransaction">
            <span>{{transaction.displayName}}</span>
            <span [ngClass]="{'creditTransaction':!transaction.debit}">{{transaction.amount | formatPrice | isDebit: transaction.debit}}</span>
          </div>
        </div>
      </ion-item>
    </ng-container>
  </div>
</ion-list> 