page-under-construction {
  .content{
    background-color: $pf-mobile-light-grey;
  }
  .dividerHeading{
    &.item-divider{
      background-color: $pf-mobile-light-grey;
    }
  }
  button{
    &> .item-inner{
      background-image: none!important;
      padding: 0px!important;
    }
  }
  .list-item{
    padding:0px 16px;
    .item-group{
      padding: 0px!important;
    }
    .label{
      margin: 0px;
    }
    .toggle-activated{
      width:36px;
    }
    .toggle-ios.toggle-activated .toggle-inner{
      width:20px;
    }
  }
  .item-name{
    float: left;
  }
}
