page-explore {
    .scroll-content{
 font-family: Montserrat;
background: #f4f4f4;
    }
    ion-header {
        .toolbar-background-md {
            background-color: $header-color;
            letter-spacing: 0.2rem;
        }
            ion-title {
                .toolbar-title-md {
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 16px;
                    letter-spacing: 2px;
                    padding-left: 0!important;
                    line-height: 28px;
                }
            }
            ion-icon{
                font-size: 28px;
                color: #FFFFFF;
                letter-spacing: 0;
            }
    }

ion-item{
    padding-left:10!important;
    background: #FFFFFF;
border: 1px solid rgba(208,208,208,0.50)!important;
    ion-grid{
        padding-left:0!important;
    
    ion-col{
        padding-left:0!important;
        
        letter-spacing: 0;
        img{
            width: 35px;
            height: 30px;

        }
        h4{
            font-size: 16px !important;
color: #0F2D52;
font-weight: 600!important;
        }
p{
    font-size: 13px !important;
color: #282828;
}
 .ion-ios-arrow-forward{
		color:$pf-mobile-light-blue-alt;
		font-size:24px;
        float: right;
            line-height: 50px;
		&:after{
			content:"";
			display: block;
			clear: both;
		}
	}
    }
}
}

   

}
