<!-- Generated template for the TermsConditionsPopupComponent component -->
<header><h2>Terms & Conditions</h2></header>
<section>By using this application your agree to the PenFed<a (click)='terms()'> Terms and Conditions and Privacy Policy</a> and <a (click)='deposit()'>Mobile Deposits Terms</a></section>
<button ion-button="alert-button" class="disable-hover alert-button alert-button-md alert-button-default alert-button-default-md" (click)='accept()'><span class="button-inner">Accept & Continue</span><div class="button-effect"></div></button>
