page-contact-info {
  .content.content-ios{
    .scroll-content{
      padding-top: 0 !important;
    }
  }

  .content {
    background-color: $pf-mobile-light-grey;
  }

  .contact-info-header {
    font-family: 'monserrat600',sans-serif !important;
    background-color: $pf-mobile-dark;
    height: 4.6rem;
  }

  .backButton {
    background-color: $header-color;
    margin: 1.1rem;
  }

  .information-title {
    .toolbar-title {
      text-align: left;
      margin-left: 1.2rem;
      font-size: 1.6rem;
      letter-spacing: 1px;
      font-weight: 600;
      line-height: 4.7rem;
      color: white;
    }
  }

  .icon.ion-ios-arrow-back {
    font-size: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 2.3rem
  }

  .userName {
    height: 1.9rem;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #0D2B53;
    padding-left: 1.5rem;
    font-family: 'monserrat600',sans-serif !important;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.9rem;
  }

  .list-item.item.item-block{
    padding-left: 0;

    & > .item-inner {
      background-image: none!important;
      padding: 0 !important;
      height: auto;

      & > .input-wrapper {
        & > .label {
          margin: 0;
        }
      }
    }
  }
  .list-item-last.item.item-block {
    padding-left: 0;
    & >.item-inner {
      & > .input-wrapper {
        padding-left: 1.6rem;
      }
    }
  }

  .item-inner-contant,
  .item-inner-contant-last {
    display: inline-block;

    p {
      font-family: 'monserratRegular',sans-serif !important;
      margin-bottom: 0.5rem;

      & > .sub-title {
        font-weight: bold;
      }
    }
  }

  .item-group {
    margin-top: 0;

    & > .item-inner-icon-last {
      display: inline-block;
      position: absolute;
      right: 1.6rem;
      top: calc(50% - 1.3rem);

      .icon.item-icon {
        color: $pf-mobile-light-blue-alt;
        font-size: 2.4rem;
      }
    }

    & > .item-inner-icon {
      display: inline-block;
      position: absolute;
      right: 1.6rem;
      top: calc(50% - 1.3rem);
    }
  }

  .list-item-last {
    & > .item-inner {
      background-image: none!important;
      padding: 0 !important;
    }
  }
}
