page-home {
    ion-title {
        font-family: 'Montserrat', sans-serif !important;
    }
    ion-item-divider {
        text-align: center;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold;
    }
    ion-item-group {
        font-size: 150%;
    }
    .my-pre {
        font-size: 17px;
        background: lightgrey;
    }
    .endpoint {
        text-decoration: underline;
        color: blue;
    }
}
