page-account-showhide {
  .scroll-content {
    background-color: #f4f4f4;
  }

  .show-hide-header {
    font-family: 'monserrat600',sans-serif;
    background-color: $header-color;
    height: 4.6rem;
    border-bottom: 1px solid $pf-mobile-light-blue-alt;
  }

  .instruction-title {
    font-family: 'monserrat600',sans-serif;
    font-size: 1.3rem;
    color: #282828;
    margin-top: 2.6rem;
    margin-left: 1.6rem;
  }

  .col-content {
    padding: 0;
  }
  //only for ios
  .title.title-ios {
    margin-left: 2rem;
  }
  //=============
  .toolbar-title {
    text-align: left;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 3.7rem;
    color: white;
  }

  .backButton {
    background-color: $header-color;
    margin: 1.1rem 1.1rem 1.1rem 0.5rem;
  }

  .icon.ion-md-close {
    font-size: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.3rem;
  }

  .show-hide-description {
    font-family: 'monserratRegular',sans-serif;
    font-size: 1.3rem;
    color: #282828;
    margin: 1.4rem 1.6rem 1rem;
  }

  .topLabel {
    font-size: 1.6rem;
    font-family: 'monserrat300',sans-serif;
    color: #282828;
  }

  .bottomLabel {
    font-size: 1.4rem;
    font-family: 'monserrat300',sans-serif;
    color: #282828;
  }

  .account-content,
  .ion-content {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    padding-left: 0;
  }

  .label-content {
    padding-left: 1.6rem;
  }

  .item-divider {
    color: #59606e;
    background-color: #f4f4f4;
    font-family: 'monserrat600',sans-serif;
    letter-spacing: 0.2rem;
    border-bottom: 2px solid #59606e;

    .label {
      font-size: 14px;
      margin-bottom: 2px;
    }
  }

  .submitBtn {
    text-align: center;
    margin: 2rem 0;

    button {
      width: 22.5rem;
      height: 5rem;
      font-size: 1.6rem;
      font-family: 'monserrat500',sans-serif;
      letter-spacing: 1px;
      border-radius: 0.4rem;
    }
  }
}

.myPopup .alert-wrapper {
  border-radius: 13px !important;
  width: 95px;
}

.myPopup .alert-title {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.myPopup .alert-sub-title {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.myPopup .alert-button-group {
  border-top: 1px solid grey;
}

.myPopup .button-inner {
  font-size: 18px;
  padding: 0 102px;
}
